body
{
background-color: aquamarine;
width: 960px;
}
img{
    display: block;
    margin: auto;
    width: 700px;
    height: 500px;

}
p
{
    padding: 70px;
    background-color: bisque;
    text-align: left;

}
.p2
{
    font-size: larger;
    text-align: center;
    background-color: blueviolet;
    padding :100px;
    border-radius:100px;
    display :block;
    margin: auto;
}
header nav ol li:nth-child(odd)
{
background-color: rgb(212, 81, 107);
border-radius: 50px;
}

header nav ol li:nth-child(even)
{
background-color: rgb(77, 218, 77);
border-radius: 50px;
}

.p0
{
   border-radius: 500px;
    text-align: center;
    background-color: rgb(226, 127, 13);

}
 .ol2
 {
     display: block;
     border-radius: 100px;
     padding: 100px;
     color:black;    

 }
 .ol2:nth-child(odd)
 {
     background-color: darkseagreen;
 }
 .ol2 :nth-child(even)
 {
background-color: rgb(170, 216, 216);
 }
 .ul2
 {
    display: block;
    border-radius: 100px;
    padding: 100px;
    font-size: large;
    background-color: crimson;
   color:rgb(67, 12, 197)
   

}
 .p3
 {
     text-align: center;
     color: red;
     padding: 50px;
     font-size: x-large;
 }
 /*.ul2:nth-child(even)
 {
     background-color:rgb(209, 24, 147);
 }
 .ul2:nth-child(odd)
 {
     background-color: coral;
 }*/
